* {
  outline: 0;
  box-sizing: border-box;
  word-wrap: break-word;
  line-height: 1.2;
}

html {
  font-family: $font-stack;
  font-size: $font-size + px;
  color: $main;
  padding: 0;
  margin: 0;
  font-weight: 400;
  transition: transform $duration ease;
  height: 100%;
}

body {
  font-family: inherit;
  padding: 0;
  margin: 0;
  color: inherit;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


.img-wrap {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

::-moz-selection {
  color: #fff;
  background: $main;
}

::selection {
  color: #fff;
  background: $main;
}

a {
  text-decoration: none;
  outline: 0;
  color: $secondary;
  transition: all $duration linear;
  &:focus {
    text-decoration: none;
    outline: 0;
    color: $secondary;
  }
  &:hover {
    text-decoration: underline;
    outline: 0;
    color: $secondary;
  }
  &:active {
    text-decoration: none;
    outline: 0;
  }
  &.link {

  }
}

.full-width {
  width: 100% !important;
}

table {
  overflow-y: hidden;
  width: 100%;
  text-align: left;
  border-spacing: 0;
  thead {
    th {

    }
  }
  tbody {
    th {

    }
    td {

    }
    tr {
      &:first-of-type {
        td, th {

        }
      }
      &:last-of-type {
        td, th {
          //
        }
      }
      &:nth-child(odd) {

      }
    }
  }
}

.hidden {
  display: none;
}

hr, .hr {
  display: block;
  height: 1px;
  padding: 0;
  margin: 20px 0;
  border: 0;
  border-top: 1px solid $border;
}

svg {
  width: 100%;
}

.fix {
  position: fixed;
  z-index: 99;
}

//to top
#scrollup {
  position: fixed;
  color: $third;
  right: 2%;
  bottom: 20%;
  display: none;
  cursor: pointer;
  font-size: 50px;
  z-index: 99;
}

//off-canvas menu
.uk-offcanvas {
  &-bar {
    padding: 15px;
  }

  &-title {
    font-size: 22px;
    color: #fff;
  }

  &-contact {

  }
  &-list {
    li{
      margin-bottom: 10px;
      a{
        font-size: 14px;
      }
    }
    .sub-menu{
      padding-left: 15px;
      padding-top: 10px;
    }
  }
  .but-close {
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 1;
    color: #ffffff;
  }

}


//modal dialog window
.md {
  max-width: 360px;
  text-align: center;
  padding: 45px 30px;
  background-color: rgba(32, 42, 52, 0.85);
  p{
    color: $white;
    margin-bottom: 15px;
    margin-top: 0;
  }
}

//fancybox
.fancybox-bg{
  background: rgba(192, 204, 211, 0.9);
  &:after {
    content: '';
    font-family: $font-stack-2;
    display: block;
    font-size: 240px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: $secondary;
  }
  &:before {
    content: '';
    font-family: $font-stack-2;
    display: block;
    font-size: 40px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: $secondary;
    text-align: center;
  }
}

//carousel
.owl {
  &-prev, &-next {
    font-size: 90px;
    color: $secondary;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.7;
    transition: all 600ms ease;
    background-image: url("../images/arrow-first-left.png");
    height: 24.5vw;
    width: 6.5vw;
    background-repeat: no-repeat;
    background-size: 100%;
    &:hover {
      opacity: 1;
      transition: all 600ms ease;
    }
  }

  &-prev {
    left: 0;
  }

  &-next {
    transform: translateY(-50%)scale(-1,1);
    right: 0;
  }

  &-dots {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    .owl-dot {
      width: 30px;
      height: 4px;
      margin-right: 5px;
      background-color: $secondary;
      display: inline-block;
      transition: all 600ms ease;
      &.active {
        height: 9px;
        transition: all 600ms ease;
      }
    }
  }

}

//bread crumb
.breadcrumb {
  background: none;
  border: none;
  padding: 30px 15px;
  margin-bottom: 20px;
  ul {
    li {
      font-size: 16px;
      line-height: 1.2em;
      color: $secondary;
      display: inline-block;
      font-weight: 900;
      a {
        color: $main;
        font-weight: normal;
      }
      & + li {
        &:before {
          content: '\f105';
          display: inline-block;
          font-family: FontAwesome;
          color: $main;
          margin: 0 15px;
          font-weight: bold;
        }
      }
    }
  }
}

//pagination
.pagination {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 30px 0;

  .prev-page, .next-page {
    display: inline-block;
    vertical-align: middle;
    a {
      color: #dadada;
      line-height: 32px;
      font-size: 32px;
      font-weight: bold;
      &:hover {
        color: $secondary;
      }
    }
  }
  ul {
    display: inline-block;
    vertical-align: middle;
    margin: 0 25px;
    li {
      display: inline-block;
      padding: 0 5px;
      a {
        display: inline-block;
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 32px;
        font-size: 24px;
        border: 4px solid #dadada;
        color: $main;
        &:hover {
          background-color: $secondary;
          border: 4px solid transparent;
          text-decoration: none;
          color: #ffffff;
        }
      }
      &.active {
        a {
          background-color: $secondary;
          border: 4px solid transparent;
          text-decoration: none;
          color: #ffffff;
        }
      }
    }
  }
}

//title section
.title {
  font-weight: 900;
  font-size: 56px;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  position: relative;
  font-family: $font-stack-2;
  text-transform: uppercase;
  small {
    display: block;
    font-weight: 300;
    margin: 0 auto 15px;
    font-family: $font-stack-3;
    font-size: 22px;
    text-transform: none;
    color: $third;
  }

}