$font-size: 16;
$duration: 300ms;
$font-stack: 'Roboto', sans-serif;
$font-stack-2: 'Comfortaa', cursive;
$font-stack-3: 'Bad Script', cursive;
$font-stack-4: 'Antonio', sans-serif;
$shadow: 0px 5px 4px 3px rgba(41,41,41,0.25);

// Colors
$main: #987A60;
$secondary: #FFD550;
$third: #EC2B2B;
$black: #000000;
$white: #ffffff;
$section-bg: #fcfcfc;
$border: #dadada;
