.btn-wrap {
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: auto;
  &__double{
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
    .btn{
      display: inline-block;
      width: 260px;
      &:not(:last-child){
        margin-right: 30px;
      }
    }
  }
}

.btn, input[type='submit'], button[type='submit'] {
  display: inline-block;
  width: 100%;
  font-size: 20px;
  text-align: center;
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: #fff;
  border: 5px solid;
  transition: all $duration ease;
  overflow: hidden;
  height: 55px;
  line-height: 45px;
  cursor: pointer;
  font-family: $font-stack;
  -webkit-touch-callout: none;
  user-select: none;
  border-radius: 0;
  &:focus {
    outline: none;
    color: #ffffff;
  }
  &:hover {
    outline: none;
  }
  &:active {

  }
}

.btn-check{
  background-image: url("../images/button.png");
  width: 189px;
  height: 85px;
  background-size: 100%;
  color: #EC2B2B;
  font-size: 22px;
  font-family: "Comfortaa",cursive;
  text-align: center;
  display: inline-block;
  padding-top: 25px;
  background-repeat: no-repeat;
  &:hover{
    text-decoration: none;
    opacity: 0.8;
    color: #EC2B2B;
  }
}

