//section
.header {
  position: relative;
  height: 100vh;
  &-top {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    width: 100%;
    z-index: 99;
    padding: 0 30px;
    .logo-menu, .search-cabinet {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
  &-content {
    width: 100%;
    height: 100%;
    .item {
      height: 100%;
      background-position: center;
      background-size: cover;
    }
    .container, .row {
      height: 100%;
    }
    .text {
      height: 100%;
      width: 5/12 * 100%;
      padding: 15% 15px 0;
      position: relative;
      .wrap {
        position: absolute;
        top: 55%;
        left: 0;
        transform: translateY(-50%);
      }
      .top {
        font-family: $font-stack-3;
        font-size: 45px;
        color: $secondary;
        font-weight: 600;
      }
    }
  }

  h1, .h1 {
    font-family: $font-stack-2;
    color: $white;
    font-size: 65px;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1.5em;
    span {
      color: $secondary;
    }
  }
}

.newproduct {
  background: url("../images/bg-second.jpg") repeat;
  padding: 165px 0;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/first-bg_after.jpg.png");
    height: 87px;
    width: 100%;
  }
}

.goods-list {
  .item {
    .wrap {
      background-image: url("../images/slide-bg-item.png");
      background-size: 100%;
      padding: 15px;
      height: 455px;
      background-repeat: no-repeat;
      text-align: center;
    }
    .name {
      a {
        font-size: 22px;
        font-family: $font-stack-2;
        font-weight: 600;
        color: $main;
        text-transform: uppercase;
      }
      margin-bottom: 15px;
    }
    .price {
      margin-top: 30px;
      font-family: $font-stack-3;
      font-size: 22px;
      color: $third;
    }
  }
}

//other style

.owl-stage-outer, .owl-stage, .owl-item {
  height: 100%;
}

.menu {
  &-header {
    ul {
      margin-left: 45px;
      li {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        a {
          color: $white;
          padding: 15px 20px;
          font-size: 22px;
          font-family: $font-stack-4;
          text-transform: uppercase;
          display: inline-block;
          position: relative;
        }

        &.menu-item-has-children {
          a {
            &:after {
              content: '\f0d7';
              color: $white;
              position: absolute;
              font-size: 12px;
              top: 50%;
              right: 0;
              transform: translateY(-50%);
              font-family: FontAwesome;
            }
          }
          .sub-menu {
            position: absolute;
            left: 0;
            padding-left: 0 !important;
            margin: 0;
            -webkit-box-shadow: 1px 2px 20px 0px #cccccc;
            -moz-box-shadow: 1px 2px 20px 0px #cccccc;
            box-shadow: 1px 2px 20px 0px #cccccc;
            min-width: 270px;
            display: none;
            li {
              display: inline-block;
              width: 100%;
              text-align: left;
              a {
                &:after {
                  display: none;
                }
              }
            }
          }

          &:hover {
            ul.sub-menu {
              display: block;
            }
          }
        }
      }
    }
  }
}

.search {
  padding: 0 15px;
  .input-group {
    display: flex;
    button, input {
      background-color: rgba(0, 0, 0, 0.2);
      border: none;
      box-shadow: none;
      color: #fff;
      height: 55px;
    }
    button {
      border-radius: 25px 0 0 25px;
      padding: 0 10px;
      font-size: 21px;
    }
    input {
      border-radius: 0 25px 25px 0;
      width: 350px;
      color: $white;
      text-transform: uppercase;
      font-size: 22px;
      font-family: $font-stack-4;
      &::-webkit-input-placeholder {
        color: $white;
        transition: all 150ms ease;
      }

      &::-moz-placeholder {
        color: $white;
        transition: all 150ms ease;
      }

      &:-ms-input-placeholder {
        color: $white;
        transition: all 150ms ease;
      }

      &:-moz-placeholder {
        color: $white;
        transition: all 150ms ease;
      }
    }
  }
}

.cabinet {
  display: flex;
  flex-direction: row;
  a {
    display: inline-block;
    width: 55px;
    height: 55px;
    position: relative;
    background-color: #fff;
    margin-left: 15px;
    border-radius: 50%;
    .fa {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $third;
      font-size: 21px;
    }
    &:hover {
      background-color: $secondary;
      text-decoration: none;
    }
  }
}

.star-mark {
  ul {
    margin: 10px 0;
    li {
      display: inline-block;
      padding: 0 5px;
      .star {
        background-image: url("../images/mark-star-none-active.png");
        display: inline-block;
        width: 20px;
        height: 20px;
        background-size: 100%;
      }
    }
  }
  &.one-star {
    ul {
      margin: 10px 0;
      li {
        &:nth-child(1) {
          display: inline-block;
          padding: 0 5px;
          .star {
            background-image: url("../images/mark-star.png");
          }
        }
      }
    }
  }
  &.two-star {
    ul {
      margin: 10px 0;
      li {
        &:nth-child(1), &:nth-child(2) {
          display: inline-block;
          padding: 0 5px;
          .star {
            background-image: url("../images/mark-star.png");
          }
        }
      }
    }
  }
  &.three-star {
    ul {
      margin: 10px 0;
      li {
        &:nth-child(1), &:nth-child(2), &:nth-child(3) {
          display: inline-block;
          padding: 0 5px;
          .star {
            background-image: url("../images/mark-star.png");
          }
        }
      }
    }
  }
  &.four-star {
    ul {
      margin: 10px 0;
      li {
        &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
          display: inline-block;
          padding: 0 5px;
          .star {
            background-image: url("../images/mark-star.png");
          }
        }
      }
    }
  }

  &.five-star {
    ul {
      margin: 10px 0;
      li {
        &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5) {
          display: inline-block;
          padding: 0 5px;
          .star {
            background-image: url("../images/mark-star.png");
          }
        }
      }
    }
  }
}